@model ThinkBridge.Models.TeamMembers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeamMembers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousExperience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EarlierSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EarlierSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentExperience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAssetDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAssetDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryReviewMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryReviewMonth)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
